header {
	background: url("/styles/image/inventory/inventory.jpg") no-repeat
		center center/cover;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
	position: relative;
	top: 0;
	z-index: 100;
	min-height: 14rem;
}

.header-top {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px 40px;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 30px;
}

/* USER INFO (Đã sửa lỗi màu chữ và bố cục) */
.user-info {
	display: flex;
	align-items: center;
	gap: 15px;
}

.user-details {
	display: flex;
	flex-direction: column;
}

.bold-white {
	color: white !important;
	font-weight: 800 !important;
	margin: 0;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.user-name {
	font-size: 1.4em;
}

.user-role {
	font-size: 1em;
	font-style: italic;
}

.user-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}